<!DOCTYPE html><html>
    <head>
        <link rel="stylesheet" href="./static/cs.css"> 
        <link rel="stylesheet" href="./static/index.css">
        <link rel="stylesheet" href="./static/ui.css"> 

    </head> 

    <body>
        <header>
            <nav>
                <div class="navbar2">
            <div class="nav2 container2">
                <a href="#" class="logo">Diabetes prediction</a>
                <ul class="navbar2-A">
                    <li><a href="{{url_for('ui')}}">PREDICT</a></li>
                    <li><a href="{{url_for('about')}}">ABOUT</a></li>
                    <li><a href="{{url_for('service')}}">SERVICE</a></li>
                    <li><a href="{{url_for('doctor')}}">DOCTOR</a></li>
                </ul>
            
            </div>
             </div>
            </nav>
        </header> 
        <div class="about-section">
            <h1>About Our Website </h1>
            <p>Recently the National institute of health publish the report related to the heart disease which says : The annual number of deaths from CVD in India is projected to rise from 2.26 million (1990) to 4.77 million (2020) where 1.6% to 7.4% in rural populations and from 1% to 13.2% in urban populations . AS we see in  Daily lifestyle people just forgot  to look out for theire health which sometimes leads to the higher impact like heart disease, So many people are going through the same but never able to test if it  is there or not and ultimately fail to provide themselves the initial treatment before it becomes worst ,  which eventually leads to the unnatural death rate , heart attacks .</p>
        
            <p>In the market, 
                There are only heart disease prediction websites in the market, not with solutions.
                In our website we will provide other features like how to take care of it, which routine is good for you, which doctor is best for you in nearby place and other city. we will give proper guide.</p>
        </div>

        <div class="timeline">

            <div class="container left-container">
 
               
                <div class="textbox">
 		    <div class="image">
                <img src="./static/photo.jpeg">
      </div>	
                    <h2>prinsi kakadiya</h2>
                    <small class>student - mitwpu</small>
<p> education: mca science </p>
                    <p>
                        Punctual, Obey rule, highly efficient and passionate for learning new concept ,ideas, techniques,
Aim too.
                    </p>
                    <span class="left-container-arrow"></span>
                </div>

            </div>

            <div class="container right-container">
                <div class="image">
        <img src="./static/photo.jpeg">
      </div>	
                <div
                    class="textbox">
                    <h2>kalpesh rathod</h2>
                    <small class>student - mitwpu</small>
<p> education: mca science </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Beatae
                        eaque asperiores tempore corrupti vitae voluptatem
                        consequuntur
                        repudiandae nisi veniam debitis.
                    </p>
                    <span class="right-container-arrow"></span>
                </div>
            </div>
           
        </div>
  
    </body>
</html>