<html>
<head>
    <link rel="stylesheet" href="./static/ui2.css"> 
</head>    
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="nav container">
                     <a href="#" class="logo">Diabetes prediction</a>
                <ul class="navbar-A">
                <li><a href="{{url_for('ui')}}">PREDICT</a></li>
                <li><a href="{{url_for('about')}}">ABOUT</a></li>
                <li><a href="{{url_for('service')}}">SERVICE</a></li>
                <li><a href="{{url_for('doctor')}}">DOCTOR</a></li>
                </ul>
        
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <img src="./static/frontpage.webp" alt="Notebook" style="width:100%;">
        <div class="content">
          <h1>We Are Committed to </h1>
            <h1>Your Health</h1>
          <h6>Tests For Diabetes..</h6>
        </div>
      </div>
</body>    
</html>