<html> 
    <head> 
        <title>Transparent Login Form UI</title>
        <link rel="stylesheet" href="./static/ui2.css"> 
    </head> 
    
    <body>  
        <div class="bg-img2"> 
            <div class="content">
                <header>Result of your prediction</header>
                <center><b><p style="color: white; text-align: center; font-size: 25px; ">{{pred}}</p></b></center>
                <b><h3><a color="black" href="{{url_for('index')}}">back to home</a></h3></b>
            </div>
        </div>
        
    </body>
</html>        