<html>
<head>
    <style>
    div {
        padding-top: 50px;
        padding-right: 150px;
        padding-bottom: 50px;
        padding-left: 80px;
      }
    </style>
</head>    
<body>
    <div>
    <p><h1>Control your weight</h1>  
        <img align="right" src="./static/nuts.jpeg" width="230" height="230" >   
        Excess weight is the single most important cause of type 2 diabetes. Being overweight increases the chances of developing type 2 diabetes seven-fold. Being obese makes you 20 to 40 times more likely to develop diabetes than someone with a healthy weight.

        Losing weight can help if your weight is above the healthy-weight range. Losing 7-10% of your current weight can cut your chances of developing type 2 diabetes in half.


    
    </p> 
    <h1>Tune Up Your Diet</h1>   
    Four dietary changes can have a big impact on the risk of type 2 diabetes.
<p>
1. Choose whole grains and whole grain products over refined grains and other highly processed carbohydrates.
</p><p>2. Skip the sugary drinks, and choose water, coffee, or tea instead.
</p><p>3. Choose healthy fats.
</p><p>4. Limit red meat and avoid processed meat; choose nuts, beans, whole grains, poultry, or fish instead.
</p> 

<h1>Don’t smoke</h1>
Add type 2 diabetes to the long list of health problems linked with smoking. Smokers are roughly 50% more likely to develop diabetes than nonsmokers, and heavy smokers have an even higher risk. 
   <div>

    </body>    
</html>